---
title: "Long Horn Power"
description: "Your expert electrician."
preloadImg: "/assets/images/hero.webp"
permalink: "/"
eleventyNavigation:
key: Home
order: 1
---

{% extends "layouts/base.html" %} {% block head %}

<!-- Script for Netlify Identity -->
<script
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
  defer
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}
<!-- <section id="preloader">
  <p>// Initializing website...</p>
</section> -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <h1 class="title">Website under development! Check back soon.</h1>
</section>

<!-- ============================================ -->
<!--                  What We Do                  -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                  Portfolio                   -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

{% endblock %}
